{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.909"}
        com.mysql/mysql-connector-j {:mvn/version "9.3.0"}
        org.clojure/data.json {:mvn/version "2.5.2"}
        cheshire/cheshire {:mvn/version "5.12.0"}}}
