{:id "0155996f-22ab-4a98-acd6-d9749b8515ea"
 :timestamp 1
 :description "Creates the 'users' table and inserts a master user."
 :statements
 {"CREATE_TABLE_USERS"
  {:apply "CREATE TABLE users (
             id VARCHAR (100) PRIMARY KEY,
             name VARCHAR(50),
             email VARCHAR(100),
             password VARCHAR(100)
           )"
   :rollback "DROP TABLE users"}}}
